# Template .env
# For devs run `cp .env.example .env` and change all values as you want

# Docker Compose 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ohsystem

# Prisma URL (Must match the above)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ohsystem

# Encrypting iron cookies
SESSION_SECRET=change-me-to-a-32-min-char-token

# When running dev server without SAML
DEV_UTORID=test
DEV_FIRSTNAME=firsts
DEV_LASTNAME=last
ADMIN_LIST_PATH=./adminList.txt

# # Redis 
# REDIS_URL=redis://:changeme@redis:6379